<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>List of courses</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container my-1 border bg-light mt-4 rounded">
		<a th:href="@{/students/createForm}" class="btn btn-primary mb-4 mt-2">Add
			student</a>
		<table border="1" class="table table-striped table-bordered rounded">
			<thead>
				<tr>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Group</th>
					<th class="col-sm-1" scope="col">Info</th>
					<th class="col-sm-1" scope="col">Update</th>
					<th class="col-sm-1" scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${page.content}">
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.group.name}"></td>
					<td><a th:href="@{/students/{id}(id=${student.id})}"
						class="btn btn-primary">Info</a></td>
					<td><a
						th:href="@{/students/updateForm/{id}(id=${student.id})}"
						class="btn btn-dark">Update</a></td>
					<td><a th:href="@{/students/delete/{id}(id=${student.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<div class="pagination justify-content-end">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:each="i : ${#numbers.sequence(1, page.totalPages)}"><a
					th:href="@{/students(page=${i},size=${page.size})}" th:text="${i}"
					class="nav-link"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>